mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

button {
  min-width: 100px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

label {
  min-width: 90px;
  text-align: right;
  font-weight: bold;
}

.quantity-input {
  width: 203px;
}

mat-error {
  display: block;
  color: red;
  font-size: 14px;
  margin-bottom: 5px;
  align-self: flex-start;
}

.form-control-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
